<!--footer -->
<footer class="footer">
  <div class="footer-row">
    <div class="footer-column">
      <h3>Information</h3>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Campus Map</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Corporate</h3>
      <ul>
        <li><a href="#">Governance</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Cookie Policy</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Financial</h3>
      <ul>
        <li><a href="#">Payment Portal</a></li>
        <li><a href="#">Scholarships</a></li>
        <li><a href="#">Financial Aid</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="social-icons">
      <a href="#"
        ><img src="images assessment/facebook logo.png" alt="Facebook logo"
      /></a>
      <a href="#"
        ><img src="images assessment/twitter logo.png" alt="Twitter logo"
      /></a>
      <a href="#"
        ><img src="images assessment/instagram logo.png" alt="Instagram logo"
      /></a>
    </div>
    <p>&copy; 2025 Solent Art University. All rights reserved.</p>
  </div>
</footer>
