<header>
    <!--NAVBAR-->
    <nav class="navbar">
      <div class="logo">
        <img src="images assessment/SAU.png" alt="Logo" />
      </div>
      <ul class="nav-links">
        <li><a href="/">HOME</a></li>
        <li><a href="/courses">COURSES</a></li>
        <li><a href="/instructors">INSTRUCTORS</a></li>
        <li><a href="/artrate">ARTRATE</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/events">EVENTS</a></li>
        <li><a href="/information">INFORMATION</a></li>
        
      </ul>
    </nav>
  </header>
</body>

