@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Climate+Crisis&family=Emblema+One&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Limelight&family=Modak&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Shrikhand&family=Yusei+Magic&display=swap');
/*
font-family: "Big Shoulders", sans-serif;
font-family: "IBM Plex Sans", sans-serif;
font-family: "Shrikhand", serif;
font-family: "Modak", system-ui;
font-family: "Yusei Magic", sans-serif;
font-family: "Climate Crisis", sans-serif;
font-family: "Monoton", sans-serif;
font-family: "Limelight", sans-serif;
font-family: "Montserrat", sans-serif;
*/

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;
}

.carousel-item {
    width: 100%;
    flex-shrink: 0;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-caption {
    position: absolute;
    bottom: 20%;
    left: 10%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.carousel-btn {
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    background-color: rgba(198, 194, 194, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}







*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Montserrat", sans-serif;
}

img{
    max-width: 100%;
    
}

.container{
    max-width: 1200px;
    margin:0 auto;
}

.header{
    display: fixed;
    align-items: center;
    min-height: 80vh;
    background-color: rgb(189, 245, 158);
    padding: 70px 0;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(13, 135, 86);
    text-transform: uppercase;
    font-weight: 750;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: rgb(12, 9, 226);
    display: block;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}
.menu label {
cursor: pointer;
display:none
}
.submenu{
    position: relative;
}
.submenu #carrito{
     display: none;
}
.submenu:hover #carrito{
    display:block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4E4B5076;
    padding: 20PX;
    min-width: 400px;
}

table{
    width: 100%;
}

th,td{
    color: #f5efeb;
}

.borrar{
    background-color: #111111;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color:#f5efef;
    font-weight: 800;
    cursor: pointer;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 200px;
}

.header-img{
    flex-basis: 50%;
    text-align: center ;
}

.header txt{
    flex-basis: 50%;
    text-align: center;
}

.header txt h1{
     font-size: 90px;
     text-transform: uppercase;
     line-height: 1;
     color: rgb(159, 50, 20);
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin-bottom: 20px;
}
.header-txt p{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.btn-1{
    display: inline-block;
    padding: 11px 25px;
    background-color: #111111;
    color: #FFFFFF;
    border-radius: 10px;
}
.ofert{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.ofert-1{
    display: flex;
    align-items: center;
    flex-basis: calc(33,3% - 15px);
    background-color: rgb(116, 116, 243);
    padding: 35px;
}
.ofert-img{
    flex-basis: 50%;
    margin-right: 15px;

}
.ofert-img img{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.ofert-txt{
    flex-basis: 50%;
    text-align: center;
}
.ofert-txt h3{
    color: #111111;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.btn-2{
    display:inline-block;
    padding: 7px 10px;
    background-color: #9ea6eb;
    color: #fcfafa;
    border-radius: 10px;
    font-size: 18px;
}
.courses{
    padding :50px;
    text-align: center;
    background-color: #f7fcd1;
    
}

.courses h2{
    color: rgb(15, 2, 2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.courses-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px
}
.courses{
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)
}
.courses img{
    width: 250px;
    height: 370px;
    margin-bottom: 20px;
}

.courses h3{
    font-size: 20px;
    color: #111111;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.courses p, .value{
    font-size: 16px;
    color: rgba(40, 7, 102, 0.812);
    margin-bottom: 15px;
} 

.value{
    font-weight: 800;
}


.icons{
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: space-between;
}

.icon-1{
    flex-basis: calc(33.3% - 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;

background-color: #e4e5f4;
}

.icon-txt h3{
    font-size: 20px;
    color: #9ea6eb;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.icon-txt p {
    font-size: 16px;
    color:#182deb;
}

.staff {
    display:flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.staff-1{
    flex-basis: calc(33.3% - 30px);
}

.staff-1 img{
    margin-bottom: 20px;
}

.staff-1 h3 {
    font-size: 20px;
    color:#111111;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.staff-1 p{
    font-size: 16px;
    color:#901fdb76
}

.footer{
    padding: 50px 0;
    background-color: #9ea6eb;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.link h3{
    font-size: 18px;
    color: #182deb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link a {
    font-size: 16px;
    color:#f5efeb;
    display: block;
    margin-bottom:10px ;
}


@media(max-width:991px){
    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ced2f7;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }

    .menu .navbar li a {
        color: #FFFFFF;
    }

    #menu:checked ~ .navbar{
        display: initial;

    }

    .submenu:hover #carrito{
        min-height: 0vh;
    }
    .header-content{
        padding: 50px 0;
        flex-direction: column;
    }
    .header-img{
        display: none;
    }
    .header-txt{
        flex-basis: 100%;
        text-align: center;
    }

    .header-txt h1 {
        font-size: 70px;
    }

    .ofert{
        padding: 30px 30px 0 30px;
        flex-direction: column;
    }
    .ofert-1{
        margin-bottom: 30px;
    }
    .courses{
        padding: 0 30px 30px 30px;
    }

    .courses h2 {
        margin-bottom:  30px;
    }
    .courses-content{
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
    .courses img{
        width: 300px;
        height: 300px;
        
    }
}